
<!DOCTYPE html>

@using Calendar
@model IEnumerable<Google.Apis.Calendar.v3.Data.Event>

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <table>
            <tr>
                <td>Toplantı Adı: </td>
                <td><input type="text" id="toplantiAdi" name="toplantiAdi" /></td>
            </tr>
            <tr>
                <td>Toplanti Açıklaması: </td>
                <td><input type="text" id="aciklama" name="aciklama" /></td>
            </tr>
            <tr>
                <td>Başlangıç Tarihi: </td>
                <td><input type="datetime-local" id="baslangicTarihi" name="baslangicTarihi" /></td>
            </tr>
            <tr>
                <td>Bitiş Tarihi: </td>
                <td><input type="datetime-local" id="bitisTarihi" name="bitisTarihi" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submitButton" value="Toplantı Oluştur" /></td>
            </tr>
        </table>
        <hr />
        @ViewBag.Name
        <hr />
        <input type="submit" name="submitButton" value="Toplantı Listele" />
    </form>
    
    @if(Model != null)
    {
    <table class="table">
        <tr>
            <th>
                Toplantı Adı
            </th>
            <th>
               Açıklama
            </th>
            <th>
                Başlangıç Tarihi
            </th>
            <th>
                Bitiş Tarihi
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Summary
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Start.DateTime
            </td>
            <td>
                @item.End.DateTime
            </td>
        </tr>
        }
    </table>
    }
</body>
</html>